{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vessel Tracker</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo.png' %}"
          style="height: 10px; weight: 10px;"/>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- DataTables CSS -->
    <link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <!-- DataTables Buttons CSS -->
    <link href="{% static 'css/buttons.dataTables.min.css' %}" rel="stylesheet">
</head>
<body>
{% include "nav.html" %}
{% block content %}{% endblock content %}
{% include 'footer.html' %}

<!-- jQuery -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<!-- DataTables JS -->
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<!-- DataTables Buttons JS -->
<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<!-- JSZip for Excel export -->
<script src="{% static 'js/jszip.min.js' %}"></script>
<!-- PDFMake for PDF export -->
<script src="{% static 'js/pdfmake.min.js' %}"></script>
<script src="{% static 'js/vfs_fonts.js' %}"></script>
<!-- Buttons for printing, Excel, and PDF -->
<script src="{% static 'js/buttons.print.min.js' %}"></script>
<script src="{% static 'js/buttons.html5.min.js' %}"></script>

<!-- Fontawesome icon -->
<script src="{% static 'js/font-awesome.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>