{% extends "base.html" %}
{% block content %}
{% load custom_filters %}
<br>
<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">
                    <h2 class="card-title">{{ data.vessel }}</h2>
                    <p class="card-text"><small class="text-muted">Departure date {{ data.start_time }} / Arrival date {{ data.end_time }}</small></p>
                    <h4 class="card-text">Departure Location: <small class="text-primary">{{ data.start_location }}</small>
                    </h4>
                    <h4 class="card-text">Arrival Location: <small class="text-primary">{{ data.end_location }}</small>
                    </h4>
                    {% if data.end_time|is_past %}
                    <h4 class="card-text"><small class="text-primary">Vessel Arrived</small></h4>
                    {% else %}
                    <h4 class="card-text">Departed <small class="text-primary">{{ data.start_time | timesince }}</small>
                        ago</h4>
                    <h4 class="card-text">Vessel will arrive in <small class="text-primary">{{ data.end_time | timeuntil }}</small></h4>
                    {% endif %}
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock content %}