{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h4 id="form-title" class="text-primary">Password Reset Email Sent</h4>
            </div>
            <span>&#9830; We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</span>
            <span>&#9830; If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</span>
            </div>
        </div>
    </div>
</div>
{% endblock content %}