{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <br>
            <div class="d-flex justify-content-center">
                <h3 class="text-primary"><i class="fa-solid fa-user-plus"></i> Signup</h3>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-2">
                        {{ form.email }}
                    </div>
                    {% for error in form.email.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                    <div class="input-group mb-2">
                        {{ form.first_name }}
                    </div>
                    {% for error in form.first_name.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                    <div class="input-group mb-2">
                        {{ form.last_name }}
                    </div>
                    {% for error in form.last_name.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                    <div class="input-group mb-2">
                        {{ form.password1 }}
                    </div>
                    {% for error in form.password1.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                    <div class="input-group mb-2">
                        {{ form.password2 }}
                    </div>
                    {% for error in form.password2.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn login_btn" type="submit" value="Signup">
                    </div>
                </form>
            </div>
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    &#9830; Already have an account? <a href="{% url 'login' %}" class="ml-2"><strong class="text-primary">Login</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Email...';
		form_fields[2].placeholder='Firstname...';
		form_fields[3].placeholder='Lastname...';
		form_fields[4].placeholder='Password...';
		form_fields[5].placeholder='Re-enter Password...';


		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
</script>
{% endblock content %}